body{
    display: flex;
    justify-content: center;
    background-color:rgb(35, 6, 139); ;
}
header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 350px;
}
article{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div{
    
    
}
.caja{
    width: 100%;
    background-color: rgb(17, 0, 255);
    margin: 1px;
    display: inline-block;
}
.fila{
    display: inline-block;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    background-color: rgb(25, 0, 255);
}
    
img{
    width: 250px;
    height: 300px;
}
h2{
    display: inline-block;
    flex-direction: column;
    align-items: center;
}